/* Style Home  */
body {
    font-family: 'Roboto', sans-serif;
}

.home {
    text-align: center;
    align-items: center;
    align-content: center;
}

.home img {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.row span {
    color: #2f294e;
    margin-top: 60px;
    font-size: 30px;
    font-weight: 600;
}

.row p {
    color: #7a7a7a;
    margin-top: 40px;
    font-size: 20px;
    font-weight: lighter;
}

.button-home {
    margin-top: 25px;
    margin-bottom: 25px;
}

.button-home a {
    cursor: pointer;
    background: #F07639;
    padding: 15px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-align: center
}

.button-home a .pet-img {
    margin-top: -5px;
    width: 35px;
    height: 35px
}

/* End style Home  */

/* Style Nav Bar */

.nav_img {
    margin-right: 100px;
    width: 80px;
    height: 90px;
}

.navbar li {
    margin-top: 40px;
    margin-left: 30px;
}

/* End style Nav Bar */

/* style Yo */

.forms-yo .form-text {
    color: #7a7a7a;
    font-weight: 600;
    font-weight: 28px;
    border: 2px solid #F07639;
    border-radius: 10px;
    height: 35px;
}

.yo .forms-yo span {
    color: #7a7a7a;
    font-size: 25px;
}

.yo .forms-yo .text-yo {
    color: #2f294e;
    font-size: 28px;
}

.forms-yo {
    margin: 60px 0 60px 0;
}

.yo-img img {
    width: 90%;
    height: auto;
}

.form-check {
    color: #7a7a7a;
    font-weight: 600;
    margin-top: 60px;
    font-size: 25px;
    margin-left: calc(100% - 73%);
}

/* add background color when the checkbox is checked */
.form-check input:checked {
    border: none;
    background-color: #F07639;
}

/* on mouse-over, add border color */
.form-check:hover input {
    border: none;
}

.form-check .aceptTerms {
    background-image: url('../assets/img/Icons-pets-1.png');
    width: 70px;
    height: 70px;
    border: none;
    margin-top: -20px;
    margin-right: 10px;
}

.cont-button-yo {
    text-align: center;
    align-items: center;
    align-content: center;
}

.button-yo button {
    cursor: pointer;
    background: #F07639;
    padding: 20px;
    border-radius: 25px;
    color: white;
    font-size: 21px;
    text-decoration: none;
}

.button-yo button:hover {
    background-color: #F07639;
    color: white;
}

/* .button-home-yo button .pet-img {
    margin-top: -5px;
    width: 35px;
    height: 35px
} */

.button-yo button .mi-yo-img {
    margin-top: -5px;
    margin-left: 10px;
    width: 35px;
    height: 35px
}

/* Style Yo */


/* My pets */
.My-Pet {
    align-items: center;
    align-content: center;
}

.My-Pet span {
    color: #7a7a7a;
}

.form-select-my-pet {
    text-align: center;
    align-items: center;
    align-content: center;
    color: #7a7a7a;
    font-size: 25px;
    font-weight: 600;
    border: 2px solid #F07639;
    border-radius: 10px;
    height: 35px;
}

.forms-my-pet {
    padding-top: 60px;
}

.forms-my-pet .form-text {
    border: 2px solid #F07639;
    border-radius: 10px;
    height: 35px;
}

.my-pet .forms-my-pet span {
    font-size: 25px;
}

.button-my-pet a {
    cursor: pointer;
    background: #F07639;
    padding: 20px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    width: 150px;
}

.button-my-pet a .mi-pet-img {
    margin-top: -5px;
    margin-left: 10px;
    width: 35px;
    height: 35px
}

.cont-button-mi-pet {
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 100px;
}

/* End my pets */

/* Condiction */
.condiction {
    text-align: center;
    align-items: center;
    align-content: center;
}

.forms-condiction {
    text-align: center;
    margin-top: 80px;
}

.forms-condiction span {
    color: #7a7a7a;
    font-size: 32px;
    font-weight: 600;
}

.forms-condiction .col {
    margin-top: 45px;
}

.form-select-condiction {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #ffff;
    cursor: pointer;
    border: 2px solid #F07639;
    background-color: #F07639;
    border-radius: 15px;
    height: 80px;
    width: 200px;
    margin-bottom: 80px;
}

.forms-my-pet .form-text {
    border: 2px solid #F07639;
    border-radius: 10px;
    height: 35px;
}

.my-pet .forms-my-pet span {
    font-size: 25px;
}

.forms-my-pet {
    margin: 60px 0 60px 0;
}

/* Race */
.form-select-raze {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #7a7a7a;
    border: 2px solid #F07639;
    border-radius: 15px;
    height: 60px;
    width: 50%;
    margin-bottom: 80px;
}

/* End Race */

/* Date */
.forms-date .row {
    padding-top: 45px;

}

.form-select-date {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #7a7a7a;
    border: 2px solid #F07639;
    border-radius: 15px;
    height: 40px;
}

.forms-date {
    text-align: center;
    margin-top: 80px;
}

.forms-date span {
    color: #7a7a7a;
    font-size: 32px;
    font-weight: 600;
}