/* Style Home  */
body {
    font-family: 'Roboto', sans-serif;
}

.home {
    text-align: center;
    align-items: center;
    align-content: center;
}

.home img {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.row span {
    color: #2f294e;
    margin-top: 60px;
    font-size: 30px;
    font-weight: 600;
}

.row p {
    color: #7a7a7a;
    margin-top: 40px;
    font-size: 20px;
    font-weight: lighter;
}

.button-home {
    margin-top: 25px;
    margin-bottom: 25px;
}

.button-home a {
    cursor: pointer;
    background: #F07639;
    padding: 15px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-align: center
}

.button-home a .pet-img {
    margin-top: -5px;
    width: 35px;
    height: 35px
}

/* Botón Global */
.cont-button-g {
    text-align: center;
    align-items: center;
    align-content: center;
}


.button-g button {
    cursor: pointer;
    background: #F07639;
    padding: 20px;
    /* width: 45%; */
    border-radius: 25px;
    color: white;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
}

.button-g button:hover {
    background-color: #F07639;
    color: white;
}

.button-g button .mi-yo-img {
    margin-top: -5px;
    margin-left: 10px;
    width: 35px;
    height: 35px
}

/* Home */
.cont-button-home {
    text-align: center;
    align-items: center;
    align-content: center;
}


.button-home a {
    cursor: pointer;
    background: #F07639;
    padding: 20px;
    width: 45%;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

.button-home a:hover {
    background-color: #F07639;
    color: white;
}

.button-home a .mi-home-img {
    margin-top: -5px;
    margin-left: 10px;
    width: 35px;
    height: 35px
}

/* End style Home  */

/* Style Nav Bar */

.nav_img {
    margin-right: 100px;
    width: 80px;
    height: 90px;
}

.navbar li {
    margin-top: 40px;
    margin-left: 30px;
}

/* End style Nav Bar */

/* style Yo */

.forms-yo .form-text {
    color: #7a7a7a;
    font-weight: 600;
    font-weight: 28px;
    border: 2px solid #F07639;
    border-radius: 10px;
    height: 35px;
}

.yo .forms-yo span {
    color: #7a7a7a;
    font-size: 25px;
}

.yo .forms-yo .text-yo {
    color: #2f294e;
    font-size: 28px;
}

.forms-yo {
    margin: 60px 0 60px 0;
}

.yo-img img {
    width: 90%;
    height: auto;
}

.form-check-yo {
    color: #7a7a7a;
    font-weight: 600;
    margin-top: 70px;
    font-size: 28px;
    margin-left: calc(100% - 75%);
}

/* add background color when the checkbox is checked */
.form-check-yo input:checked {
    border: none;
    background-color: #F07639;
}

/* on mouse-over, add border color */
.form-check-yo:hover input {
    border: none;
    cursor: pointer;
}

.form-check-yo .aceptTerms {
    background-image: url('../assets/img/Icons-pets-1.png');
    width: 75px;
    height: 75px;
    border: none;
    margin-top: -20px;
    margin-right: 10px;

}

.cont-button-yo {
    text-align: center;
    align-items: center;
    align-content: center;
}

.button-yo button {
    cursor: pointer;
    background: #F07639;
    padding: 20px;
    border-radius: 25px;
    color: white;
    font-size: 21px;
    text-decoration: none;
}

.button-yo button:hover {
    background-color: #F07639;
    color: white;
}

.button-yo button .mi-yo-img {
    margin-top: -5px;
    margin-left: 10px;
    width: 35px;
    height: 35px
}

/* Style Yo */


/* My pets */
.My-Pet {
    align-items: center;
    align-content: center;
}

.My-Pet span {
    color: #7a7a7a;
}

.form-select-my-pet {
    text-align: center;
    align-items: center;
    align-content: center;
    color: #7a7a7a;
    font-size: 25px;
    font-weight: 600;
    border: 2px solid #F07639;
    border-radius: 10px;
    height: 40px;
}

.forms-my-pet {
    padding-top: 60px;
}

.forms-my-pet .form-text {
    color: #7a7a7a;
    font-weight: 600;
    font-weight: 28px;
    border: 2px solid #F07639;
    border-radius: 10px;
    height: 40px;
}

.my-pet .forms-my-pet span {
    font-size: 25px;
}

.button-my-pet button {
    cursor: pointer;
    background: #F07639;
    padding: 20px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    width: 200px;
}

.button-my-pet button .button-my-pet button .mi-pet-img {
    margin-top: -5px;
    margin-left: 10px;
    width: 35px;
    height: 35px
}

.cont-button-mi-pet {
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 100px;
}

/* End my pets */

/* Condiction */
.condiction {
    text-align: center;
    align-items: center;
    align-content: center;
}

.forms-condiction {
    text-align: center;
    margin-top: 80px;
}

.forms-condiction span {
    color: #7a7a7a;
    font-size: 32px;
    font-weight: 600;
}

.forms-condiction .col {
    margin-top: 45px;
}

.form-select-condiction {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #ffff;
    cursor: pointer;
    border: 2px solid #F07639;
    background-color: #F07639;
    border-radius: 15px;
    height: 65px;
    /* width: 200px; */
    margin-bottom: 80px;
    border: 2px solid red;
}

.forms-my-pet .form-text {
    color: #7a7a7a;
    font-weight: 600;
    font-weight: 28px;
    border: 2px solid #F07639;
    border-radius: 10px;
    height: 40px;
}

.my-pet .forms-my-pet span {
    font-size: 25px;
}

.forms-my-pet {
    margin: 60px 0 60px 0;
}

/* Race */
.form-select-raze {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #7a7a7a;
    border: 2px solid #F07639;
    border-radius: 15px;
    height: 60px;
    width: 50%;
    margin-bottom: 80px;
}

/* End Race */

/* Date */
.forms-date .row {
    padding-top: 45px;

}

.form-select-date {

    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #7a7a7a;
    border: 2px solid #F07639;
    border-radius: 15px;
    height: 60px;
    width: 70%;
}

.forms-date {
    text-align: center;
    margin-top: 80px;
}

.forms-date span {
    color: #7a7a7a;
    font-size: 32px;
    font-weight: 600;
}

/* Addictional Condiction */


.form-check .form-check-input {
    background-image: url('../assets/img/Icons-pets-1.png');
    background-repeat: no-repeat;
    /* border: 1px solid rgb(200, 105, 10); */
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    width: 150px;
    height: 65px;
    margin-left: 25px;
}

.form-check input:checked {
    border: none;
    background-color: #F07639;
}

.form-check label {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    /* border: 2px solid green; */
    margin-left: 100;
    color: #7a7a7a;

}

/* Load */
.forms-condiction-load {
    text-align: center;
    margin-top: 30px;
}

.forms-condiction select {
    border: 2px solid #F07639;
    cursor: pointer;
    /* background-color: #F07639; */
}

.forms-condiction-load span {
    color: #7a7a7a;
    font-size: 32px;
    font-weight: 600;
}

.forms-condiction-load .col {
    margin-top: 35px;
}

.forms-condiction-load span {
    color: #7a7a7a;
    font-size: 28px;
    font-weight: 600;
}

/* Another pet */

.another-pet img {
    width: 400px;
    height: 100%;
}

.cont-button-p {
    padding-top: 60px;
    text-align: center;
    align-items: center;
}


.button-p button {
    cursor: pointer;
    background: #F07639;
    padding: 20px;
    width: 45%;
    margin-right: -45%;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

.button-p button:hover {
    background-color: #F07639;
    color: white;
}

.button-p button .mi-yo-img {
    margin-top: -5px;
    margin-left: 10px;
    width: 35px;
    height: 35px
}

/* End Another Pet */

/* Food */

.food-balance .card {
    cursor: pointer;
    width: 100%;
    padding: 30px 30px 0 30px;
    border-radius: 35px;
    border: 2px solid #F07639;
}

.food-balance .card-body a {
    width: 150px;
    border-radius: 15px;
}

/* End Food */

/* Diet */

.food-diet .card {

    /* padding: 5px; */
    border-radius: 35px;
    border: 2px solid #F07639;
    background-color: #F07639;
    margin-bottom: 40px;
}

.food-diet .card-title {
    text-align: left;
    color: #2F294E;
    font-size: 30px;
    font-weight: 600;
}

.food-diet .card-text {
    color: #ffff;
    /* font-size: 28px;  */
    font-weight: 500;
}

.food-diet img {
    width: 180px;
    border-radius: 15px;
    margin: 15px;
}

/* CHekc Out */

.forms-checkout input {
    border: 2px solid #F07639;
    margin-top: 30px;
    border-radius: 15px;
    height: 65px;
}

.forms-checkout span {
    text-align: left;
}

.forms-checkout input:focus {
    border: 2px solid #F07639;
}

/* Veterinary */

.form-select-vet {

    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #7a7a7a;
    border: 2px solid #F07639;
    border-radius: 15px;
    height: 55px;
    /* width: 70%; */
}